name: persistent_bottom_nav_bar
description: A do all, highly customizable persistent/static bottom navigation bar for flutter. Includes up-to 20 styles.

homepage: https://github.com/BilalShahid13/PersistentBottomNavBar
repository: https://github.com/BilalShahid13/PersistentBottomNavBar
version: 4.0.2

environment:
  sdk: '>=2.12.0 <3.0.0'

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
